#twitch-stream, #twitch-chat {
    display: inline-block;
}

#teldoGasm {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.bamboogasmCount {
    color: yellow;
}

.emote {
    width: 28px;
    height: 28px;
}
