body {
    font-family: sans;
    text-align: center;
    background-color: black;
    color: #00a750;
}

#twitch-stream {
    display: inline-block;
    background: silver;
    padding: 20px;
    margin: 20px;
    border: solid 10px #00a750;
    border-radius: 2em;
    width: 620px;
    height: 380px;
}

figure {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

#soundboard {
    width: 1000px;
    margin: auto;
}