body {
    font-family: sans;
    text-align: center;
    background-color: black;
    color: #00a750;
    width: 1000px;
    margin: auto;
}

#twitch-stream {
    display: inline-block;
}

#twitch-chat {
    display: inline-block;
}

figure {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
